{% extends 'base.html.twig' %}

{% block main %}
    <h1>List of users </h1>

    {% for user in users %}
        <li class="list-group-item">
           <div>{{ user.username }}</div>
            <div>
                <a href="{{ path('admin_user_delete',{id:review.id}) }}" class="btn btn-danger margin">Delete this user</a>
            </div>
        </li>
    {% endfor %}




{% endblock %}

{% block title %}Liste Users - Admin |{{ parent() }}{% endblock %}