header{
    color:black;

}

header>a{
    text-decoration: none;
    color:whitesmoke;
}
#header-jumbo{
    background-image: url("../img/metal-plate.png");

}

#header-title{
    font-family: 'Bowlby One SC', cursive;
    font-size: xx-large;
}

h1{
    color:whitesmoke;
}
main{
    align-self: center;

}

header a {
    color:whitesmoke;
}

header a:link {
    text-decoration: none;

}

footer{

    color:whitesmoke;
}


body{
    background-color: #262626;
    color:whitesmoke;
}


#card{
    margin:20px;
}

.card-body{
    color:black;
}

.italique{
    font-style: italic;
}