header{
    color:black;
    font-family: 'Bowlby One SC', cursive;
}

#header-jumbo{
    background-image: url("../img/metal-plate.png");

}

h1{
    color:whitesmoke;
}
main{
    align-self: center;

}

a:link {
    text-decoration: none;
    color:black;
}

footer{

    color:whitesmoke;
}


#header-title{
    font-family: Gulim, cursive;
    font-size: xx-large;
}

body{
    background-color: #262626;
    color:whitesmoke;
}



#card{
    margin:20px;
}
