header{
    color:black;
}

main{
    align-self: center;
}

a:link {
    text-decoration: none;
    color:black;
}

footer{
    background-image: url("../img/fond.jpg");
    color:white;
}


#header-title{
    font-family: Gulim, cursive;
    font-size: xx-large;
}